@using SandboxWindowsDesktopApp.ViewModels

<div class="buttons">
	<button disabled="@(!ViewModel.BeepCommand.CanExecute(null))" @onclick="ViewModel.BeepCommand.Execute">Play sound</button>
	<button disabled="@(!ViewModel.InactiveCommand.CanExecute(null))" @onclick="ViewModel.InactiveCommand.Execute">Inactive</button>
	<button disabled="@(!ViewModel.StartCounterCommand.CanExecute(null))" @onclick="ViewModel.StartCounterCommand.Execute">Start counter</button>
	<button disabled="@(!ViewModel.StopCounterCommand.CanExecute(null))" @onclick="ViewModel.StopCounterCommand.Execute">Stop counter</button>
	<p>@ViewModel.SomeText</p>
	<p>Counter: @ViewModel.Counter</p>
</div>
