@using Phork.Blazor
@using SandboxWindowsDesktopApp.ViewModels

@inherits ReactiveComponentBase
@inject MainWindowViewModel ViewModel

<h3>[Component] Home</h3>
<div class="buttons">
	<StyledCommandButton Command="@ViewModel.BeepCommand" Text="Play sound" />
	<CommandButton Command="@ViewModel.InactiveCommand" Text="Inactive" />
	<CommandButton Command="@ViewModel.StartCounterCommand" Text="@(Observed(() => ViewModel.CounterActive) ? "Stop" : "Start")" />
	<CounterDisplay Counter="@Observed(() => ViewModel.Counter)" />
	<TextDisplay Text="@Observed(() => ViewModel.SomeText)" />

	<button @onclick=@(() => InvokeAsync(StateHasChanged))>Render</button>
</div>
