@using Phork.Blazor
@using SandboxWindowsDesktopApp.ViewModels

@inherits ReactiveComponentBase
@inject MainWindowViewModel ViewModel

<div class="buttons">
	<button disabled="@(!ViewModel.BeepCommand.CanExecute(null))" @onclick="ViewModel.BeepCommand.Execute">Play sound</button>
	<button disabled="@(!ViewModel.InactiveCommand.CanExecute(null))" @onclick="ViewModel.InactiveCommand.Execute">Inactive</button>
	<button @onclick="ViewModel.StartCounterCommand.Execute">
		@(ViewModel.CounterActive ? "Stop" : "Start")
	</button>
	<p>@ViewModel.SomeText</p>
	<p>Observed Counter: @Observed(() => ViewModel.Counter)</p>
	<button @onclick=@(() => InvokeAsync(StateHasChanged))>Render</button>
</div>
